#coordinates-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 180px;
  height: 60px;
  background-color: #1e1e1e;
  color: #bfbfbf;
  padding: 15px;
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0 0 20px #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#coordinates-container:before,
#coordinates-container:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #bfbfbf;
}

#coordinates-container:before {
  width: 60%;
  height: 2px;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

#coordinates-container:after {
  width: 2px;
  height: 60%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#coordinates {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 0;
  position: relative;
}

#coordinates span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: #bfbfbf;
}

@media screen and (max-width: 768px) {
  #coordinates-container {
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 10px 10px 0 0;
    width: 150px;
    height: 50px;
  }

  #coordinates:before {
    width: 40%;
    left: 30%;
  }

  #coordinates:after {
    height: 40%;
    top: 30%;
  }

  #coordinates span {
    font-size: 12px;
    margin-left: 8px;
  }
}
